@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --ff: "Poppins", sans-serif;
    --gradient: linear-gradient(90deg, rgb(5, 215, 138), 74%, rgb(0, 213, 255));
    --second-gradient: linear-gradient(90deg, #ff1b6b, 74%, #45caff);
    --third-gradient: linear-gradient(135deg, #6a5acd, #00bfff);
    /* Purple bluish gradient */
    --fourth-gradient: linear-gradient(135deg, #00ff7f, #00bfff);
    /* Green bluish gradient */
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: var(--ff);
    background: var(--gradient);
    width: 350px;
    height: fit-content;
}

.app {
    background: rgba(30, 30, 30);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.app .head {
    -webkit-user-select: none;
    user-select: none;
    background: #131313;
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app .head p {
    font-size: 1.3rem;
    background: var(--second-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.app .head .img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

#refresh-tab-button {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
    transition: color 0.2s ease, transform 0.2s ease;
}

#refresh-tab-button:hover {
    color: #3498db;
    transform: scale(1.1);
}

#refresh-tab-button:active {
    color: #2980b9;
    transform: scale(0.95);
}

#refresh-tab-button i {
    display: inline-block;
}

.app .main {
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
}

.app .main .domain {
    width: 95%;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: .3rem;
    justify-content: center;
    flex-direction: column;
    color: #00bfff;
}

.app .main .domain .host {
    margin-top: .3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #111;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    width: 100%;
    padding: .3rem .5rem;
}

.app .main .domain .host-domain {
    width: 100%;
    padding: .3rem .5rem;
    background: #2a2d2e;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    white-space: nowrap;
    overflow: auto;
}

.host-domain::-webkit-scrollbar {
    background: transparent;
}

.host-domain::-webkit-scrollbar-thumb {
    background: #4b494d;
    border-radius: .5rem;
}

.host-domain::-webkit-scrollbar-thumb:hover {
    background: hsl(270, 3%, 39%);
}

.host-domain:-webkit-scrollbar-thumb:active {
    background: hsl(270, 3%, 49%);
}

.app .main .domain-info {
    margin-top: 1rem;
    width: 95%;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    padding: .3rem .5rem;
    background: #2a2d2e;
    color: #ff1b6b;
    border-radius: .3rem;
    -webkit-user-select: none;
    user-select: none;
}

.hr {
    width: 100%;
    background: #2a2d2e;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 5px;
    border-radius: .3rem;
}

.app .main .domains {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .5rem;
}

.app .main .domains p {
    width: 100%;
    color: #00ff7f;
    display: flex;
    align-items: center;
    gap: 10px;
}

.app .main .domains ul {
    width: 80%;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: #dedede;
}
.spin {
    animation: spin 1s linear infinite;
}
/* CSS for the spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation */
#refresh-tab-button.spinning i {
    animation: spin 0.8s ease-in-out;
}